/* Body Styling */

* {
	margin: 0px;
}

html,
body {
	/* position: relative; */
	height: 100%;
	width: 100%;
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-color: #cccccc;
	background-position: center;
	background-size: cover;
}

/* container */

.container {
	width: 100%;
	height: 80vh;
	position: relative;
	margin: 5% auto 0;
	text-align: center;
	/* z-index: 4; */
}

/* ============================================ */

/* overlay for the entire page */
#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(143, 140, 140, 0.4);
	z-index: 2;
	cursor: pointer;
}

/* ========================================= */

/* Search Button Styling  */

#searchBtn {
	padding: 8px 22px;
	max-width: 300px;
	background-color: #fff;
	border-radius: 32px;
	font-size: 30px;
	line-height: 28px;
	letter-spacing: 2px;
	font-weight: 400;
	color: rgb(59, 56, 56);
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	width: 50%;
	text-align: center;
	justify-content: center;
	/* position: absolute; */
	/* top: 50%;
	left: 40%; */
}
#down-arrow {
	color: lightgreen;
	padding-left: 25px;
}
#closeForm{
	float: right;
	margin-top: -35px;
	color: #26a69a;
}


/* Header  */
h1 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	border: none;
	color: white;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	border: none;
	color: white;

}

/* Materialize Search*/
#searchForm {
	max-width: 500px;
	width: 100%;
	background-color: rgba(54, 54, 54, 0.8);
	padding: 20px;
	color: #fefefe;
	display: block;
	display: inline-block;
	text-align: left;
}

.translucent-form-overlay .columns.row {
	/* display: block; */
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
	color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
	color: white;
}

.translucent-form-overlay input::-webkit-input-placeholder {
	color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
	color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
	color: #8a8a8a;
}

/* ===================================== */

.brew-card {
	height: 250px;
	width: 250px;
	padding: 5px;
	border: 1px solid;
	display: inline-block;
	margin: 10px;
}

.rest-card {
	height: 400px;
	width: 400px;
	padding: 5px;
	border: 1px solid;
	display: inline-block;
	margin: 10px;

}

.event-card {
	height: 400px;
	width: 400px;
	padding: 5px;
	border: 1px solid;
	display: inline-block;
	margin: 10px;

}

h5 {
	height: 100px;
}